* {
    padding: 0px;
    margin: 0px;
}

body {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    height: 100vh;
}

table,
th,
td { 
    border: 1px solid black;
}